name: "Run tests"
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  install:
    name: Install only pesde
    runs-on: ubuntu-latest # todo: use a matrix and test for all OS'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pesde
        uses: ./

      - name: Test pesde installation
        run: pesde --version

  install-with-lune:
    name: Install pesde with Lune
    runs-on: ubuntu-latest # todo: use a matrix and test for all OS'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pesde & Lune
        uses: ./

      - name: Test pesde installation
        run: |
          pesde --version
          pesde x pesde/hello

      - name: Test Lune installation
        run: |
          lune --version
          echo 'print("Hello, Lune!")' | lune run -
