name: "Run tests"
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Install only pesde
    runs-on: ${{ matrix.os }}

    strategy:
      matrix: &matrix
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15, macos-15-intel, windows-2025]
        cache: [true, false]
        version: [latest, v0.7.1]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pesde
        uses: ./
        with:
          cache: ${{ matrix.cache }}

      - name: Test pesde installation
        run: pesde --version

  install-with-lune:
    name: Install pesde with Lune
    runs-on: ${{ matrix.os }}

    strategy:
      matrix: *matrix

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pesde & Lune
        uses: ./
        with:
          lune-version: latest
          cache: ${{ matrix.cache }}

      - name: Test pesde installation
        run: |
          pesde --version
          pesde x pesde/hello

      - name: Test Lune installation
        run: |
          lune --version
          echo 'print("Hello, Lune!")' | lune run -
